<!DOCTYPE html>
<html>
<head>
    <title>CHIRPS Rainfall Map</title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
{{ date }}
<div id="map"></div>

<script>

    const map = L.map('map').setView([-19, 30], 6);

    // OpenStreetMap basemap
    L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: '&copy; OpenStreetMap contributors'
        }
    ).addTo(map);

    // Earth Engine CHIRPS layer
    L.tileLayer('{{ tile_url }}', {
        attribution: 'Google Earth Engine'
    }).addTo(map);

</script>

</body>
</html>